<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spotmusic</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>

<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Spotmusic</h1>
		</div>

		<div>
			<a class="btn btn-primary" th:href="@{/playlists/insert}">Nova playlist</a>
		</div>
		<hr />

		<div th:if="${playlists != null}">
			<h4>Playlists</h4>
			
			<div th:if="${mensagem != null}">
				<div class="alert alert-info" role="alert">
					<span th:text="${mensagem}">mensagem</span>
				</div>
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Descrição</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tr th:each="playlist : ${playlists}">
					<td><a th:text="${playlist.name}" th:href="@{/playlists/{id}/musics/findAll(id=${playlist.id})}">nome</a></td>
					<td th:text="${playlist.description}">descricao</td>
					<td>
						<a class="btn btn-sm btn-info" th:href="@{/playlists/{id}/update(id=${playlist.id})}">Editar</a> 
						<a class="btn btn-sm btn-danger" th:href="@{/playlists/{id}/remove(id=${playlist.id})}">Excluir</a>
					</td>
				</tr>
			</table>
		</div>

		<div th:if="${#lists.isEmpty(playlists)}">
			<div class="alert alert-info" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign"></span>
				Nenhuma playlist cadastrada! 
			</div>
		</div>
		<hr />

		<a class="btn btn-light" href="/home">Voltar</a>
		<hr />

		<footer class="footer">
			<p>© 2019 Reignited</p>
		</footer>
	</div>
</body>
</html>